body {
    font-family: "Roboto", sans-serif;
    line-height: 1.21;
    color: #434455;
    background-color:#FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    border-bottom: 1px solid #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .section {
     padding-top: 120px;
     padding-bottom: 120px;
 }

   .section-item{
       margin-top: 20px;
   }

 .container {
     width: 1158px;
     margin: 0 auto;
     padding: 0 15px;
 }

.div-head{
    width: 1440px;
    height: 72px;
}

.header-nav {
    padding-left: 156px;
    padding-right: 156px;
    border-bottom: 1px solid #ccc;
}

.header-menu-list{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.header-navi{
    box-sizing: border-box;
    width: 1440px;
    height: 72px;
    display: flex;
    padding: 24px 156px 24px 156px;
    align-items: center;
    gap: 76px;
    justify-content: flex-start;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    padding-left: 156px;
}

.logo-black {
    color:#2e2f42;

}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24 0 24 0;
}

.link-nav:hover{
    color:#404bbf
}

.link-nav:focus{
    color:#404bbf ;
}

.address{
    font-style: normal;
}

.address-item{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
   
.address-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-1{
}

.address-text:hover,
.address-text:focus{
    color: #404bbf;
}

.business {
    background: #2e2f42;
}


.div-business{
    width: 1440px;
    height: 600px;
}

.business-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.business-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
}

.business-button:hover,
.business-button:focus{
   background-color: #404BBF;
}

.strategy {}

.strategy-list {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
}

.strategy-iteil {}
 
.strategy-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    padding-top: 8px;
}

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-iteil {
    background-color: #FFFFFF;
}

.team-img {}

.team-head {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:#434455;
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    flex-wrap: wrap;
    display: flex;    
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer{
    background: #2e2f42;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-white {
    color: #f4f4fd;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
    flex-wrap: wrap;
}