body {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-nav{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-black{
    color: #2e2f42;
}
.logo-white{
    color: #f4f4fd;
}
.section-1{
    background: #2e2f42;
}
.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
}
.button{
    background: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
}
.sr-only {
    visibility: hidden;
}
.head-3{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
}
.section-3{
    background: #f4f4fd;
}
.head-2{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        color: #2e2f42;
}
.footer{
    background: #2e2f42;
}